<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summarize</title>
    <link rel="shortcut icon" href="/Images/Logo.png" type="image/x-icon">
    <!-- Link Font Awesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/CSS/output.css">
    <link rel="stylesheet" href="/CSS/scrollbar.css">
</head>

<body>
    <div class="flex lg:h-screen h-[200vh] antialiased text-black bg-primary-theme-one">
        <div class="flex lg:flex-row h-full w-full overflow-x-hidden flex-col">
            <div class="flex flex-col py-8 pl-6 pr-2 lg:w-1/3 w-full  bg-primary-theme-one flex-shrink-0">
                <div class="flex flex-row items-center justify-center h-12 w-full">
                    <div
                        class="flex items-center justify-center rounded-full text-primary-theme-one bg-primary-theme-two size-10">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z">
                            </path>
                        </svg>
                    </div>
                    <div class="ml-2 font-bold text-2xl text-primary-theme-two">
                        Suggested Questions
                    </div>
                </div>
                <div class="flex flex-col mt-8 items-center gap-5">
                    <% if (locals.questions) { %>
                        <div class="flex flex-row items-center justify-between text-xs gap-5">
                            <span class="font-bold">
                                Questions
                            </span>
                            <span
                                class="flex items-center justify-center bg-primary-theme-two h-4 w-4 rounded-full text-primary-theme-one">5
                            </span>
                        </div>
                        <div class="flex flex-col space-y-1 mt-4 -mx-2 overflow-y-auto px-2 h-64">
                            <% questions.forEach(question=> { %>
                                <button
                                    class="flex flex-row items-center focus:outline-none focus:bg-secondary-theme-two hover:bg-secondary-theme-two rounded-xl p-2 border-2 border-secondary-theme-two questionButton ml-2 text-sm font-semibold">
                                    <%= question %>
                                </button>
                                <% }) %>
                        </div>
                        <% } %>
                            <a href="/workbook/upload"
                                class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-red-200 via-red-300 to-yellow-200 group-hover:from-red-200 group-hover:via-red-300 group-hover:to-yellow-200 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400">
                                <span
                                    class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                                    Back
                                </span>
                            </a>
                </div>
            </div>

            <div class="flex flex-col flex-auto h-full p-6">
                <div class="flex flex-col flex-auto flex-shrink-0 rounded-2xl bg-secondary-theme-two h-full p-4">
                    <div class="flex flex-col h-full overflow-x-auto mb-4">
                        <div class="flex flex-col h-full">
                            <div class="grid grid-cols-12 gap-y-2" id="chat-container">
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-row items-center h-16 rounded-xl bg-primary-theme-one w-full px-4">
                        <div class="flex-grow ml-4">
                            <div class="relative w-full">
                                <input type="text"
                                    class="flex w-full border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10"
                                    id="query" />
                                <button
                                    class="absolute flex items-center justify-center h-full w-12 right-0 top-0 text-gray-400 hover:text-gray-600">
                                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                                        </path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="ml-4">
                            <button
                                class="flex items-center justify-center bg-primary-theme-two hover:bg-primary-textTheme-one rounded-xl text-white px-4 py-1 flex-shrink-0"
                                id="send">
                                <span>
                                    Send
                                </span>
                                <span class="ml-2">
                                    <svg class="w-4 h-4 transform rotate-45 -mt-px" fill="none" stroke="currentColor"
                                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
                                    </svg>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io.connect();
    const send = document.getElementById("send");
    const chatContainer = document.getElementById("chat-container")
    const queryBox = document.getElementById("query")

    send.addEventListener("click", () => {
        const query = queryBox.value;
        socket.emit("query", query);
        chatContainer.innerHTML += `
        <div class="col-start-2 col-end-13 p-3 rounded-lg">
            <div class="flex items-center justify-start flex-row-reverse">
                <div class="flex items-center justify-center size-10 rounded-full bg-primary-theme-two flex-shrink-0 text-primary-theme-one">
                    You
                </div>
                <div class="relative mr-3 text-sm bg-primary-theme-one py-2 px-4 shadow rounded-xl">
                    <div> 
                        ${query}
                    </div>
                </div>
            </div>
        </div>
        `
        queryBox.value = "";
        queryBox.focus();
        window.scrollTo(0, document.body.scrollHeight)
    });

    socket.on("answer", ({ answer, citations }) => {
        const reduced = citations.map(str => str.slice(-7))
        const citationsString = reduced.join("------")
        chatContainer.innerHTML += `
            <div class="col-start-1 col-end-11 p-3 rounded-lg">
                <div class="flex flex-row items-center">
                    <div class="flex items-center justify-center h-10 w-10 rounded-full bg-primary-theme-two flex-shrink-0 text-primary-theme-one">
                        AI
                    </div>
                    <div class="relative ml-3 text-sm bg-primary-theme-one py-2 px-4 shadow rounded-xl">
                        <div>
                            ${answer}
                        </div>
                    </div>
                </div>
            </div>
            `
        chatContainer.innerHTML += `
            <div class="col-start-1 col-end-11 p-3 rounded-lg">
                <div class="flex flex-row items-center">
                    <div class="flex items-center justify-center h-10 w-10 rounded-full bg-primary-theme-two flex-shrink-0 text-primary-theme-one">
                        AI
                    </div>
                    <div class="relative ml-3 text-sm bg-primary-theme-one py-2 px-4 shadow rounded-xl">
                        CITATIONS
                        <div>
                            ${citationsString}
                        </div>
                    </div>
                </div>
            </div>
            `
        window.scrollTo(0, document.body.scrollHeight);
    });

    function addEvent() {
        document.querySelectorAll(".questionButton").forEach((button) => {
            button.addEventListener("click", () => {
                const content = button.textContent.trim()
                navigator.clipboard.writeText(content);
                alert("Copied");
            })
        })
    }
    addEvent()
</script>

</html>